{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>주식회사 테헤란</title>
    <link rel="stylesheet" href={% static "css/main.css" %}>
    <link rel="stylesheet" href={% static "css/basic.css" %}>
    <link rel = "shortcut icon" type="image/png" href="{% static 'images/main_img/smartFarm1.png' %}"/>
    <style>
        /* company-name*/
        body {
            background-color: black; /* 배경을 검은색으로 설정합니다. */
        }
        .company-name {
            color: white; /* 글자색을 흰색으로 설정합니다. */
            font-size: 50px; /* 글자 크기를 50px로 설정합니다. */
            font-family: Pretendard;
            font-style: normal;
        }
    </style>
</head>
<body>
  {% include "menu_bar.html" %}
/* 다른 클래스나 요소들의 스타일을 추가할 수 있습니다. */
  <div class="sa sa-up">
    <div class="wrapper">
      <div class="overlay">
          <div class="TEHRAN">TEHRAN</div>
          <div class="TEH">TEH</div>
          <div class="RAN">RAN</div>
        <div class="flex-container">
          <div class="mobile-smart-farm">
            <span class="content1">농업과 정보통신기술(ICT)의 만남 </span> <br>
            <span class="content2">SMART FARM</span> <br>
            <span class="content2">CONTAINER</span><br>
              <div class="company-name">주식회사 테헤란</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="sa sa-up">
    <div class="blank">
      <div class="arrow1"></div>
    </div>
  </div>

  <div class="sa sa-up">
    <div class="banner1">
      <div class="banner1-overlay">
        <div class="banner1-content1"><B  style="color:#4E6234">주식회사 테헤란</B>은</div>
        <div class="banner1-content2">농업 연구를 통해 더 좋은 작물을 소비자에게 제공하고 <br> 큰 부가가치 창출로 농업의 미래에 기여합니다.</div>
      </div>
    </div>
  </div>

  <div class="sa sa-up">
    <div class="banner2">
      <div class="banner2-overlay">
        <div class="banner2-content1">농업의 미래가
            <div><B  class="font-color1">우리 먹거리의 미래</B>를</div>
            만들어 갑니다.
        </div>
        <div class="mobile-banner2-content1" >
          <div> 농업의 미래가</div>
          <B  style="color: rgba(216, 245, 180, 1)">우리 먹거리의 미래</B>를 만들어 갑니다.
        </div>
        <div class="banner2-content2"> 
          바른 농업 생태계를 만들려는 노력이<br>
          소비자의 식탁에 긍정적인 영향을 주었습니다.<br>
          품질 좋은 작물의 연중 일정한 재배량은<br>
          <B class="font-color1">소비자에게 깨끗하고 좋은 먹거리를</B><br>
          <B class="font-color1">안정적이고 합리적인 가격</B>으로 선사합니다.
        </div>
        <div class="banner2-image"></div>
      </div>
    </div>
  </div>

  <div class="sa sa-up">
    <div class="banner3">
      <div class="banner3-image"></div>
      <div class="banner3-content1">
          <B style="color: white"> What Is </B>
          <B style="color: #95C05D"> Smart Farm</B>
      </div>
      <hr class="banner3-hr1">
      <hr class="banner3-hr2">
      <div class="banner3-content2">
        정보기술을 이용하여 농작물 재배 시설의<br>
        온도.습도.햇볕량.이산화탄소.토양 등을 측정 분석<br>
        <br>
          생산성과 효율성 및 품질 향상 등의 <span style="color: #95C05D">고부가 가치 창출</span>
      </div>
    </div>
  </div>

  <div class="sa sa-up">
  <div class="banner4">
    <div class="banner4-overlay">
      <div class="content1">Tehran<br>
        <span style="color: #95C05D">미래 농업을 위한 혁신</span>
      </div>
      <section class="banner8">
          <div class="inner">
          <div class="rectangle rec1">
            <div class="text1 bg1">Everyone</div>
              <div class="text2">누구나 손쉽게</div>
              <div class="text3"><br>모바일 기기를 통한<br>
                원격 관리 <br><br>
              </div>
          <div class="rectangle rec2">
            <div class="text1 bg2">Anywhere</div>
              <div class="text2"><br>맞춤형 시공</div>
              <div class="text3"><br><br>모듈러형으로 토지
                <br>규모 맞춤 시공 <br>
              </div>
          </div>
          <div class="rectangle rec3">
            <div class="text1 bg2">Eco-friendly</div>
              <div class="text2"><br>에너지 사용 절감</div>
              <div class="text3"><br><br>IoT 및 공조 기술 기반<br><br>
              </div>
          </div>
          <div class="rectangle rec4">
            <div class="text1 bg2">ROI</div>
              <div class="text2"><br>수익률 창출</div>
              <div class="text3"><br><br>지능화 된 미래 농업
                <br>솔루션
              </div>
          </div>
          </div>
         </div>
      </section>
    </div>
  </div>
</div>

  <div class="sa sa-up">
    <div class="banner5">
      <div class="banner5-overlay">
        <div class="banner5-content1">모듈러 스마트팜</div>
        <div class="banner5-content2">Tehran 스마트팜은 세분화로 공간 활용이 가능한<br> 모듈형 컨테이너입니다.
        <br><br>지역별 농업 환경, 인구 밀도 등 특성에 따라 설치<br>가능하며 초기 투자 비용 및 운영비 절감 효과가 <br>있습니다.</div>
        <div class="banner5-content2-mobile">스마트팜 컨테이너를 통해<br> 앞서나가는 농법을 연구, 개발하여<br> 우리 농업의 미래 발전에 기여합니다.</div>
        <button class="banner5-button1"><span class="banner5-button1-content">자세히 보기</span></button>
      </div>
      <div class="banner5-bar">
        <hr class="banner5-bar-line1">
        <button class="banner5-bar-menu1">사업 분야 소개</button>
        <hr class="banner5-bar-line2">
        <button class="banner5-bar-menu2">스마트팜 개발</button>
        <hr class="banner5-bar-line3">
        <button class="banner5-bar-menu3">농작물 유통</button>
        <hr class="banner5-bar-line4">
        <button class="banner5-bar-menu4">상품 가공 & 개발</button>
        <hr class="banner5-bar-line5">
        <button class="banner5-bar-menu5">농작물 재배 연구</button>
        <hr class="banner5-bar-line6">
        <button class="banner5-bar-menu6">해외 수출</button>
      </div>
    </div>
  </div>

  <div class="sa sa-up">
    <div class="arrow2"></div>
  </div>

  <div class="sa sa-up">
    <div style="color: darkgreen;"class="contact">CONTACT US</div>
    <div style="color: darkgreen; font-size: 50px;" class="contact2">농업의 새로운 변화<span style="color: black; font-size: 50px;">를 만나보세요.</span></div>
    <div class="contact2-mobile">문의 사항을 남겨주시면<br> 빠른 시일 내에 답변 드리겠습니다.</div>
  </div>

<div class="sa sa-up">
    <div class="banner6" style="position: relative; width: 62%; height: 495px; left: 19%; top: 4300px; color: rgba(78, 98, 52, 50)">
        <div class="button-container" style="display: flex; justify-content: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <button style="color: #4e6234; font-size: 50px;">스마트팜 구축 문의하기</button>
        </div>
    </div>
</div>
<!--
<div class="sa sa-up">
  <div class="banner7">
    <div class="banner7-web">
      <div class="banner7-qrFrame"></div>
      <div class="banner7-icon1"></div>
      <div class="banner7-icon2"></div>
      <div class="banner7-content1">QR코드를 통해 테헤란 카카오톡 채널로 연결하기</div>
      <div class="banner7-content2">휴대폰 카메라로 좌측의 QR코드를 스캔하시면<br>
        (주)테헤란과 카카오톡 상담이 가능한 채널로 연결됩니다. </div>
    </div>
    <div class="banner7-mobile">
      <div class="banner7-icon1"></div>
      <div class="banner7-icon2"></div>
      <div class="banner7-content1">테헤란 카카오톡 채널</div>
      <div class="banner7-button1" onclick="location.href='http://pf.kakao.com/_ExgxmZG'">테헤란 카카오톡 채널<br> 방문하기</div>
      <div class="banner7-content2">클릭시 (주)테헤란과 카카오톡 상담이 가능한 채널로 연결됩니다.</div>
    </div>
  </div>
</div>
-->
  <div class="footer-container">
    {% include "footer.html" %}
  </div>

  <script src="/static/js/Scroll Fade in Animation.js"></script>
</body>

</html>