{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>주식회사 테헤란</title>
    <link rel="stylesheet" href={% static "css/main.css" %}>
</head>

<body>
    {% include "menu_bar.html" %}

    <div id="wrapper"></div>
    <div class="overlay"></div>
    <div id="TEHRAN">TEHRAN</div>
    <div id="ddd" class="flex-container">
      <div>
        <span class="content1">SMART FARM</span> <br>
        <span class="content2">CONTAINER</span>
      </div>
      <div class="vertical-line"></div>
      <div>
        <div class="content3">미래 혁신을 위한 스마트팜의 선두주자<br>주식회사 테헤란</div><br>
        <div class="content4">테헤란의 스마트팜 컨테이너로 <br> 편하고 안정된 농사환경과 건강하고 바른 먹거리를 만들어 갑니다.</div>
      </div>
    </div>
    <div class="blank">
      <div class="Group2"></div>
    </div>
    <div class="banner1">
      <div class="overlay2">
        <div class="banner1-content1"><div class="font-color1">주식회사 테헤란</div>은</div>
        <div class="banner1-content2">농업 연구를 통해 더 좋은 작물을 소비자에게 제공하고 <br> 큰 부가가치 창출로 농업의 미래에 기여합니다.</div>
      </div>
    </div>
    <div class="banner2">
      <div class="banner2-content1">농업의 미래가
      <div class="banner2-content1-flex">
      <div class="font-color1">우리 먹거리의 미래</div>를</div>
      만들어 갑니다.
      </div>
    </div>



  </div>

</body>

</html>