{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>로그인</title>
  <link rel="stylesheet" href={% static "css/login.css" %}>
  <link rel="stylesheet" href={% static "css/basic.css" %}>
</head>
<body>
  {% include "menu_bar.html" %}
  <div class="login-title text-center">
    <p class="ls-5">Login</p>
    <h1>로그인</h1>
  </div>

  <form action="/login/" method="POST">
    {% csrf_token %}
    <input class="input-box" type="text" id="ID" name="id" placeholder="아이디" required><br>
    <input class="input-box" type="password" id="password" name="password" placeholder="비밀번호" required><br>
    <input class="input-box login-btn" type="submit" value="로그인">
    <div class="input-box regist-btn" onclick="location.href='/register'">회원가입</div>
  </form>
</body>
</html>