{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>주식회사 테헤란</title>
    <link rel="stylesheet" href={% static "css/product.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

{% include "menu_bar.html" %}


<div>
    <div><span class="product_con1">PRODUCT</span></div>

    <div class="product_img1">
    <div class="overlay">
            <div class="product_con2">
                <img src="/static/images/product_app_img/product_con1.png"/>
            </div>
    </div>
    </div>
</div>

//제품소개

<div>
    <div class="product_con3 img-center">
        <img src="/static/images/product_app_img/제품%20소개%20containel.png">
    </div>

    <div class="rectangle20"></div>
    <div class="rectangle21"></div>

    <div class="product_con4">
        <a href="#intro" class="item1 vector11 link" style="color: #FFFFFF">제품 소개</a>
        <a href="#advat" class="item2 vector11 link" style="color: #FFFFFF">제품 장점</a>
        <a href="#prod" class="item3 vector11 link" style="color: #FFFFFF">제품 생산</a>
        <a href="#type" class="item4 vector11 link" style="color: #FFFFFF">제품 종류</a>
    </div>



    <div class="product_img2" id="intro">
        <div class="overlay">
            <div class="product_cont5">(주) 테헤란은 <span style="color:rgba(149, 192, 93, 1);">주거복합형 교육형 스마트팜</span>을 운영합니다.</div>

            <div class="product_img3"></div>
            <div class="product_img4"></div>
            <div class="product_img5"></div>
            <div class="product_img6"></div>

            <div class="product_cont6">
                <div class="item1">컨테이너타입</div>
                <div class="item2">주거복합형</div>
                <div class="item3">컨설팅</div>
                <div class="item4">운영</div>
            </div>

            <div class="product_cont7">
                <div class="item1">
                    공간제약 없이 대규모 <br> 농업이 가능
                </div>
                 <div class="item2">
                    1층 작업공간과 <br> 2층 주거공간 복합
                </div>
                 <div class="item3">
                    생산-가공-유통-소비 <br> 등 전단계에 걸친 전문가 <br> 컨설팅
                </div>
                 <div class="item4">
                    6-12개월간 파일럿 랩 <br> 규모의 스마트팜 <br> 자기주도적 운영
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


//제품장점
<div>
    <div class="product_cont8">
        <img src="/static/images/product_app_img/제품%20장점%20ADVANTAGES.png"/>
    </div>

    <div class="product_img7">
        <div class="overlay">
            <div class="product_cont9" id="advat">
                (주) 테헤란의 <span style="color: rgba(149, 192, 93, 1)">컨테이너형 스마트팜</span>의 장점
            </div>

        <div class="product_con10">· 스마트팜 도입 및 진입 장벽 최소화<br>
        · 근로 편의성 증대 및 거주문제 해결 <br>
        · 재배 및 경영 노하우 축적 <br>
        · 개인 맞춤형 스마트팜 창업 설계 <br>
        · 고정적인 수입 창출 및 농업 실패율 감소</div>
    </div>
</div>

//제품생산
<div>
    <div class="product_cont11" id="prod">
        <img src="/static/images/product_app_img/제품%20생산%20PRODUCTION.png"/>
    </div>

    <div class="product_img8"></div>
        <div class="vector44-1"></div>
    <div class="product_img9"></div>
        <div class="vector44-2"></div>
    <div class="product_img10"></div>

            <div class="product_cont12">
                <div class="item1">컨테이너 스마트팜 시스템 도입</div>
                <div class="item2">참송이버섯 건강가공식품 개발</div>
                <div class="item3">사업화 검토</div>
            </div>

    <div class="product_cont13">
        <div class="item1">참송이버섯 생육 데이터 획득 <br> 균일 품질의 제품 안정적 생산 <br> 재배 노하우 축적</div>
        <div class="item2">참송이버섯의 고부가가치 제품 개발 <br> 소비자 니즈 충족에 따른 생산성 제공 <br>
            기능성 식품으로서의 광범위한 활용</div>
        <div class="item3">제품 및 회사 인지도 향상 <br> 회사 매출 증대 <br> 신규 일자리 창출 기대</div>
    </div>
</div>

//제품종류
<div>
    <div class="product_cont14" id="type">
        <img src="/static/images/product_app_img/제품%20종류%20PRODUCTION.png"/>
    </div>

    <div class="inner">
        <div class="product_img11"></div>
        <div class="product_img12"></div>
        <div class="product_img13"></div>
        <div class="product_img14"></div>
        <div class="product_img15"></div>
        <div class="product_img16"></div>


        <div class="product_cont15">
            <div class="item1">참송이 분말 차</div>
            <div class="item2">건조 참송이</div>
            <div class="item3">반려동물 프리미엄 사료</div>
            <div class="item4">참송이 핑크 솔트</div>
            <div class="item5">참송이 간장</div>
            <div class="item6">참송이 조미료</div>
        </div>

        <div class="product_cont16">
            <div class="item1">건조된 참송이를 분말형태로 가공한 다류</div>
            <div class="item2">플레이크 형태로 건조한 참송이</div>
            <div class="item3">건조된 참송이를 넣어 만든 프리미엄 사료</div>
            <div class="item4">그라인드가 장착된 캠핑장 고기구이 전용 핑크솔트</div>
            <div class="item5">간장을 베이스로 참송이를 넣고 오랜시간 발효 및 숙성</div>
            <div class="item6">건조된 참송이를 분말 형태로 가공한 천연 조미료</div>
        </div>

        <div class="btn1">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
        <div class="btn2">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
        <div class="btn3">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
        <div class="btn4">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
        <div class="btn5">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
        <div class="btn6">
          <div class="product_btn1">
            <a href="https://smartstore.naver.com/smartadfarm" class="product_btn2 link">더 자세히 알아보기</a>
          </div>
        </div>
    </div>


</div>


<div class="footer-container">
        {% include "footer.html" %}
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <script>
        document.querySelector('.direction1').addEventListener('click', function(e) {
          e.preventDefault();
          window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
</div>

</body>


</html>