{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="/static/css/customer_app.css">
    <link rel="stylesheet" href="/static/css/basic.css"> -->
    <link rel="stylesheet" href={% static '/css/customer_app.css' %}>
    <link rel="stylesheet" href={% static '/css/basic.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>고객 지원</title>
</head>

<body>
    {% include "menu_bar.html" %}

    <div class="pt-20p" id="HeadDiv">
        <!-- 고객 지원 -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p">
                <p class="ls-10">F&Q</p>
                <h1>고객 지원</h1>
            </div>

            <p class="text-center pt-10p pb-5p ws-5 font-gray" id="TehranHelp">(주) 테헤란에 관하여 궁금하신 점이 있으시다면 도와드리겠습니다.</p>

            <section class="scroll-menu font-white">
                <img src="/static/images/buisness_app_img/Rectangle 1.jpg">
                <img src="/static/images/buisness_app_img/Rectangle 2.jpg">

                <ul class="img-item" id="Gradation">
                    <li><a href="#scroll-part_1">자주 묻는 질문(FAQ)</a></li>
                    <li><a href="#scroll-part_2">1:1 문의(Q&A)</a></li>
                </ul>
                <div style="clear: both; float: none;"></div>
            </section>
        </div>

        <!-- 자주 묻는 질문(FAQ) -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p pb-5p" id="scroll-part_1">
                <h2>자주 묻는 질문(FAQ)</h2>
            </div>

            <div class="FQ-container display-center">

                    <article>
                        <!-- 1 -->
                        <section class="FAQ-list">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">농사를 짓는 동안 컨테이너에 며칠에 한 번 방문해야 하나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 2 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">버섯을 얼마동안 키워야 납품이 가능한가요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 3 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">1년 중 몇 월에 버섯을 수확하나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 4 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">버섯의 휴식기는 언제인가요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 5 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">1년에 버섯을 12번 심을 수 있나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 6 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">스마트팜 컨테이너의 크기는 어떻게 되나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 7 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">스마트팜 컨테이너로 대출이 가능한가요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 8 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">스마트팜 컨테이너는 별도로 허가를 받아야 하나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 9 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">스마트팜 솔루션 및 유통 경로 확보는 어떤 것인가요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>

                        <!-- 10 -->
                        <section class="FAQ-list pt-3p">
                            <!-- Q -->
                            <div class="FAQ-question">
                                <i class="fa-solid fa-q pb-1p">:</i>
                                <h3 class="pl-3p">스마트팜 컨테이너에서 수익은 어떻게 발생하나요?</h3>
                                <img src="/static/images/customer_app_img/FAQ-list_check.jpg">
                            </div>

                            <!-- A -->
                            <div class="FAQ-answer pb-1p">
                                <i class="fa-solid fa-a pt-3p">:</i>
                                <p class="pl-3_3p" onclick="toggleAnswer(this)">안녕하세요 테헤란입니다.</p>
                            </div>
                            <hr />
                        </section>
                    </article>
            </div>
        </div>

        <!-- 1:1 문의(Q&A) -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p pb-5p" id="scroll-part_2">
                <h2>1:1 문의(Q&A)</h2>
            </div>

            <div class="FQ-container display-center">
                <form class="FQ-form" action="{% url 'search_qna' %}" method="get">
                    <div class="FQ-search pb-3p">
                        <select>
                            <option>전체</option>
                        </select>
                        <input type="text" name="query" id="search-input" placeholder="검색어를 입력하세요." value="{{ request.GET.query }}">
                        <input type="image" src="/static/images/customer_app_img/magnifying-glass-solid.svg" alt="검색 아이콘" id="search-icon">
                        <div style="clear: both; float: none;"></div>
                    </div>

                    <div>
                        <table class="QA-list text-center">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>상태</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- 1:1 문의 데이터 반복문으로 표시 -->
                                {% for qna in page_obj %}
                                <tr onclick="location.href='/customer/qna_detail/{{ qna.id }}'">
                                    <td>{{ qna.id }}</td>
                                    <td style="color: {% if qna.is_answered %}#0038FF;{% else %}#FF4040;{% endif %}">
                                        {% if qna.is_answered %}답변완료{% else %}답변대기{% endif %}
                                    </td>
                                    <td class="text-left pl-3p">{{ qna.title }}</td>
                                    <td>{{ qna.author.name }}</td>
                                    <td>{{ qna.created_at }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="add-btn" onclick="location.href='/customer/create_qna_page'">문의하기</div>
            </div>

            {% include "pagination.html" %}
        </div>
    </div>

    <div class="footer-container">
        {% include "footer.html" %}
    </div>

    <script src="/static/js/Scroll Fade in Animation.js"></script>
    <script src="/static/js/FAQ Toggle.js"></script>
</body>

</html>