{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={% static '/css/notice_app.css' %}>
    <link rel="stylesheet" href={% static '/css/basic.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>

<body>
    {% include "menu_bar.html" %}

    <div class="pt-20p" id="HeadDiv">
        <!-- NOTICE -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p" id="notice_">
                <p class="ls-5">NOTICE</p>
                <h1>공지사항</h1>
            </div>

            <p class="text-center pt-10p pb-5p ws-5 font-gray" id="TehranNotice">(주) 테헤란의 주요 공지사항 게시판입니다.</p>
        </div>

        <!-- 공지사항 -->
        <div class="sa sa-up">
            <div class="notice-container display-center">
                <form class="notice-form" method="GET" id="search-form">
                    <div class="notice-search pb-3p">
                        <select name="category">
                            <option value="">전체</option>
                        </select>

                        <input type="text" name="query" id="search-input" placeholder="검색어를 입력하세요." value="{{ request.GET.query }}">
                        <input type="image" src="/static/images/customer_app_img/magnifying-glass-solid.svg" alt="검색 아이콘" id="search-icon">

                        <div style="clear: both; float: none;"></div>
                    </div>
                    <div>
                        <table class="notice-list text-center">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for notice in page_obj %}
                                <tr onclick="location.href='/notice/notice_detail/{{ notice.id }}'">
                                    <td>{{ notice.id }}</td>
                                    <td class="text-center pl-3p">{{ notice.title }}</td>
                                    <td>{{ notice.author.name }}</td>
                                    <td>{{ notice.created_at }}</td>
                                    <td>{{ notice.viewcnt }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                {% if request.user.is_superuser %}
                    <div class="add-btn" onclick="location.href='/notice/create_notice_page'">글쓰기</div>
                {% endif %}
            </div>

            {% include "pagination.html" %}

        </div>
    </div>

    <div class="footer-container">
        {% include "footer.html" %}
    </div>

    <script src="/static/js/Scroll Fade in Animation.js"></script>
    <script src="/static/js/FAQ Toggle.js"></script>

    <script>
        function submitSearchForm() {
            document.getElementById('search-form').submit();
        }
    
        document.getElementById('search-icon').addEventListener('click', function (event) {
            event.preventDefault();
            submitSearchForm();
        });
    
        document.getElementById('search-input').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                submitSearchForm();
            }
        });
    </script>
    
</body>

</html>