{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="/static/css/buisness_app.css">
    <link rel="stylesheet" href="/static/css/basic.css"> -->
    <link rel="stylesheet" href={% static '/css/buisness_app.css' %}>
    <link rel="stylesheet" href={% static '/css/basic.css' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>사업 영역 소개</title>
</head>

<body>
    {% include "menu_bar.html" %}

    <div class="pt-20p" id="HeadDiv">
        <!-- BUISNESS AREA -->
        <div class="sa sa-up">
            <div id="FristLine">
                <p>BUISNESS AREA</p>
            </div>

            <div class="img-container">
                <img src="/static/images/buisness_app_img/buisness_app 1.jpg" >

                <div class="img-item text-center font-white ws-20" id="BusinessArea">
                    <h1>주식회사</h1>
                    <h1 style="color: #95C05D;">테헤란</h1>
                    <p>사업영역</p>
                </div>
            </div>
        </div>

        <!-- 사업영역 소개 -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p">
                <img src="/static/images/buisness_app_img/Vector 28.jpg" >

                <h1>사업 영역 소개</h1>
                <p class="ls-3">SMARTFARM</p>
            </div>

            <section class="scroll-menu font-white">
                <img src="/static/images/buisness_app_img/Rectangle 1.jpg">
                <img src="/static/images/buisness_app_img/Rectangle 2.jpg">

                <ul class="img-item" id="Gradation">
                    <li><a href="#scroll-part_1">스마트팜</a></li>
                    <li><a href="#scroll-part_2">스마트팜 장점</a></li>
                    <li><a href="#scroll-part_3">스마트팜 내부</a></li>
                    <li><a href="#scroll-part_4">스마트팜 종류</a></li>
                </ul>
                <div style="clear: both; float: none;"></div>
            </section>

            <div class="img-container">
                <div class="img-item text-center font-white">
                    <h2>농업과 ICT를 융합하여 더 쉽고, 편안한 농사환경을 만드는 기술</h2><br>
                    <h2 id="SmartfarmContainel">"SMARTFARM CONTAINEL"</h2>
                </div>

                <img src="/static/images/buisness_app_img/buisness_app 2.jpg">
            </div>
        </div>

        <!-- 스마트팜 이란? -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p pb-5p" id="scroll-part_1">
                <img src="/static/images/buisness_app_img/Vector 28.jpg" id="scroll_buisness1">
                <h1>스마트팜 이란?</h1>
                <p class="ls-10">EXPLAN</p>
            </div>

            <div class="float-left_container display-center">
                <img class="float-left_img" src="/static/images/buisness_app_img/buisness_app 3.jpg">

                <div class="float-left_div">
                    <h3>
                        비닐하우스, 유리온실, 축사 등에 ICT를 접목하여 원격 및 자동으로<br><br>
                        작물과 가축의 생육환경을 적정하게 유지하고 관리할 수 있는 농장을 말합니다.
                    </h3>

                    <p id="L1">스마트팜은</p>

                    <p>
                        유리온실 및 스마트 온실, 식물공장, 수직농장, 스마트 축산 등 종류가 다양하고<br><br>
                        광범위 하며 완전 밀폐, 외부 공기의 제어, 태양광 및 LED의 사용여부에 따라 세부적인
                        명칭이 나누어 집니다.<br><br>
                        ICT 기술의 도입으로 자동화, 원격제어 등이 가능해 노동력이 크게 줄어들고, 수확량은 증가한다는 장점이 있습니다.
                    </p>

                    <p>
                        최근에는 AI를 장착해 직접 데이터를 분석하고 움직이는 스마트팜이 등장하고 있으며,<br><br>
                        세계적으로 다양한 IT및 통신 기술을 결합해 새로운 형태의 스마트팜이 개발되고 있습니다.
                    </p>
                </div>
                <div style="clear: both; float: none;"></div>
            </div>
        </div>

        <!-- 스마트팜 장점 -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p pb-5p" id="scroll-part_2">
                <img src="/static/images/buisness_app_img/Vector 28.jpg" id="scroll_buisness2">
                <h1>스마트팜 장점</h1>
                <p class="ls-5">ADVANTAGES</p>
            </div>

            <div class="img-container">
                <img src="/static/images/buisness_app_img/buisness_app 4.jpg" id="AdvantageImg">

                <div class="img-item text-center font-white" id="AdvantageItem">
                    <h1>(주)테헤란</h1>

                    <h1>스마트팜 컨테이너 재배의 장점</h1>

                    <div class="advantage-container">
                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 6.png">
                            <p>자연 재해 예방</p>
                        </div>

                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 7.png">
                            <p>수획량 증가</p>
                        </div>

                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 8.png">
                            <p>농약 미사용</p>
                        </div>

                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 9.png">
                            <p>지리적 미점</p>
                        </div>

                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 10.png">
                            <p>노동력 절감</p>
                        </div>

                        <div>
                            <img src="/static/images/buisness_app_img/buisness_app 11.png">
                            <p>사계절 일정한 수확</p>
                        </div>
                        <div style="clear: both; float: none;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 스마트팜 종류 -->
        <div class="sa sa-up">
            <div class="scroll-part text-center pt-10p pb-5p" id="scroll-part_4">
                <img src="/static/images/buisness_app_img/Vector 28.jpg" id="scroll_buisness3">
                <h1>스마트팜 종류</h1>
                <p class="ls-5">SERIES</p>
            </div>

            <div class="img-container">
                <img src="/static/images/buisness_app_img/buisness_app 5.jpg" id="SeriesImg">

                <div class="img-item font-white" id="SeriesItem">
                    <h1>"테헤란의 원격제어 어플리케이션으로</h1>

                    <h1>농장을 쉽게 관리하세요."</h1>

                    <p>
                        테헤란 스마트팜 컨테이너가 제공하는 원격제어 어플리케이션을 통해<br><br>
                        농장을 실시간으로 모니터링하고, 환경을 제어할 수 있습니다.
                    </p>

                    <p>
                        컨테이너 형식인 테헤란의 스마트팜 큐브는 이상기후 및 외부 환경에<br><br>
                        영향을 받지 않으며, 최적화된 환경에서 사계절 내내 작물을 재배합니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-container">
            {% include "footer.html" %}
        </div>
    </div>

    <script src="/static/js/Scroll Fade in Animation.js"></script>
</body>

</html>