@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#FristLine {
    font-family: 'Pretendard';
    text-align: center;
    color: #4E6234;
    font-size: 24px;
    letter-spacing: 20px;
}

#BusinessArea h1 {
    font-family: 'Pretendard';
    display: inline;
}

#BusinessArea p {
    font-family: 'Pretendard';
    letter-spacing: 40px;
    font-size: 25px;
    margin-left: 40px;
}

#Gradation {
    font-family: 'Pretendard';
    text-align: center;
    padding-left: 0%;
}

#SmartfarmContainel {
    letter-spacing: 12px;
    color: #95C05D;
}

#AdvantageImg {
    height: 100%;
    max-height: 600px;
}

#AdvantageItem h1 {
    font-family: 'Pretendard';
    color: #95C05D;
    display: inline;
}

#SeriesItem {
    text-align: center;
}

#SeriesItem h1 {
    font-family: 'Pretendard';
    display: inline;
}

#SeriesItem p {
    font-family: 'Pretendard';
    padding-top: 3%;
    font-size: 25px;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    filter: brightness(50%);
}

.img-item {
    font-family: 'Pretendard';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30%;
    margin: auto;
    z-index: 1;
}

.img-item li {
    font-family: 'Pretendard';
    list-style: none;
    display: inline;
    margin: 0px 80px;
}

.img-item a {
    font-family: 'Pretendard';
    text-decoration: none;
}

.img-item a:any-link {
    color: white;
}

.img-item a:active {
    color: orange;
}

.scroll-menu {
    font-family: 'Pretendard';
    position: relative;
    width: 100%;
    margin: 0px;
}

.scroll-menu img {
    float: left;
    width: 50%;
    height: 66px;
}

.scroll-part {
    font-family: 'Pretendard';
    color: #4E6234;
    width: 100%;
}

.float-left_container {
    width: 70%;
}

.float-left_img {
    float: left;
    padding-right: 5%;
}

.float-left_div {
    font-family: 'Pretendard';
    padding-top: 5%;
}

.float-left_div p {
    font-family: 'Pretendard';
    padding-top: 5%;
    display: inline;
}

.advantage-container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.advantage-container div {
    float: left;
    width: 16%;
    text-align: center;
}

.advantage-container img {
    width: 150px;
    height: 150px;
    padding-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-top: 20px;
    filter: brightness(0) invert(1);
}

.advantage-container p {
    font-family: 'Pretendard';
    color: #95C05D;
    font-weight: bold;
}

.footer-container{
    position:relative;
    margin-top: 100px;
    width:100%;
}
@media screen and (max-width: 1500px) {
    #SeriesItem {
        top: 5%;
        padding: 0%;
    }

    #SeriesItem h1 {
        display: block;
        font-size: 27px;
        line-height: 15px;
    }

    #SeriesItem p {
        font-size: 20px;
    }
}

/* 모바일 */
@media screen and (max-width: 800px) {
    #HeadDiv {
        padding-top: 50%;
    }

    #FristLine {
        font-size: 15px;
        letter-spacing: 10px;
    }

    #BusinessArea p {
        letter-spacing: 50px;
        font-size: 15px;
        margin-left: 50px;
    }

    #Gradation {
        font-size: 2px;
    }

    #Gradation li {
        margin: 0px 7px;
    }

    #SmartfarmContainel {
        letter-spacing: 6px;
    }

    #AdvantageImg {
        content: url(../images/buisness_app_img/buisness_app\ 4\ col.jpg);
        height: 100%;
    }

    #AdvantageItem {
        top: 5%;
    }

    #AdvantageItem h1 {
        display: block;
        font-size: 25px;
    }

    #SeriesImg {
        content: url(../images/buisness_app_img/buisness_app\ 5\ col.jpg);
        height: 100%;
    }

    #SeriesItem {
        top: 5%;
        text-align: start;
        padding: 10%;
    }

    #SeriesItem h1 {
        display: block;
        font-size: 15px;
        line-height: 25px;
    }

    #SeriesItem p {
        margin-top: 10%;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 10%;
    }

    #SeriesItem br {
        display: none !important;
    }

    .img-container img {
        height: 220px;
    }

    .scroll-part h1 {
        font-size: 25px;
    }

    .scroll-part p {
        font-size: 10px;
    }

    .scroll-menu img {
        height: 37px;
    }

    .img-item h2 {
        font-size: 12px;
    }

    .float-left_container {
        width: 100%;
    }

    .float-left_img {
        float: none;
        width: 100%;
        padding-right:0%;
    }

    .float-left_div {
        width:100%;
        height: 600px;
        background-color: #2c2c2c;
        text-align: center;
    }

    .float-left_div h3 {
        color: #95C05D;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 10%;
    }

    .float-left_div p {
        color: white;
        display: block;
        font-size: 15px;
        line-height: 25px;
    }

    .float-left_div #L1 {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5%;
    }

    .float-left_div br {
        display: none !important;
    }

    .advantage-container div {
        width: 33%;
    }

    .advantage-container img {
        width: 86px;
        height: 68px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
}