
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.img-center {
    left: 50%;
    transform: translateX(-50%);
}
.img-left{
    right: 50%;
}.img-right{
    left: 50%;
}

body {
    font-family: 'Pretendard';
    font-style: normal;
    text-align: center;
}
a {
    text-decoration: none;
}

.inner {
    width: 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    position: relative;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
.company_con1 {
    position: absolute;
    width: 276px;
    top: 0px;
}
.about_us {
    margin-top: 324px;
    height: 770px;
}
.about_us .inner {
    height: 770px;
    width: 100%;
}
.about_us .company_img0 {
    position: relative;
    top: 40px;
    height: 744px;
    background-image: url("/static/images/company_app_img/image12.png");
    background-position: center;
    background-size: cover;
}
.about_us .company_img1 {
    position: absolute;
    top: 276px;
}

.introduce {
    margin-top: 250px;
    height: 535px;
}

.introduce .inner {
    height: 535px;
    width: 100%;
}
.introduce .company_img1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.introduce-bar {
    position: absolute;
    width: 100%;
    height: 66px;
    top: 100px;
    left: 0;
}

.introduce .company_con1 {
    position: absolute;
    top: 120px;
    width:auto;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 1.66vw;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 147.336%;
}
.introduce .company_con1-mobile{
    display:none;
}

.introduce .company_img2 {
    position: absolute;
    top: 237px;
    margin-right: 20px;
}
.introduce .company_img2 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

.introduce .company_con2 {
    position: absolute;
    top: 237px;
}

.introduce .company_con2 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.mission {
    margin-top: 177px;
    height: 898px;
}
.mission .inner{
    height: 898px;
    width: 100%;
}
.mission .vector {
    position: absolute;
    width: 61.5px;
    height: 0px;

    top: 0px;
    border: 2px solid #000000;
}
.mission .company_con1 {
    position: absolute;
    width: 309px;
    height: 86px;

    top: 39px;
}
.mission .company_img1 {
    position: relative;
    top: 154px;
    width: 100%;
    height: 744px;
    background-image: url("/static/images/company_app_img/image14.png");
    background-position: center;
    background-size: cover;
}

.mission .company_img1 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

.mission .dreamplan {
    position: absolute;
    top: 119px;
    height: 76px;
}
.mission .dreamplan img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.mission .img {
    position: absolute;
    width: 338px;
    height: 301px;
}

.mission .text {
    position: absolute;
    width: 56px;
    height: 38px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #95C05D;
}

.mission .content {
    position: absolute;
    width: auto;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.mission .value.img {
    top: 223px;
    left: 20%;
}

.mission .vision.img {
    top: 223px;
    left: 63%;
}

.mission .mission_c.img {
    top: 223px;
    left: 41.2%;
}


.mission .mission_c.text {
    top: 533px;
    width: auto;
    left: 47%;
}

.mission .mission_c.content {
    top: 598px;
    width: auto;
    left: 42%;
}

.mission .value.text {
    left: 26%;
    top: 533px;
    width: auto;
}

.mission .value.content {
    left: 26%;
    top: 598px;
    width: auto;
}

.mission .vision.text {
    left: 70%;
    top: 533px;
    width: 56px;
}

.mission .vision.content {
    left: 65%;
    top: 598px;
    width: 235px;
}

@media screen and (max-width: 1450px) {
    .mission .company_img1 {
        height: 1000px;
    }

    .mission .value.img {
        width: 250px;
        height: 200px;
        top: 190px;
        left: 20%;
    }
        
    .mission .value.text {
        left: 65%;
        top: 223px;
    }
    
    .mission .value.content {
        left: 65%;
        top: 300px;
    }
    
    .mission .mission_c.img {
        width: 250px;
        height: 200px;
        top: 450px;
        left: 21%;
    }
    
    
    .mission .mission_c.text {
        top: 450px;
        left: 67%;
    }
    
    .mission .mission_c.content {
        top: 530px;
        left: 60%;
        height: 200px;
    }

    .mission .vision.img {
        width: 250px;
        height: 200px;
        top: 700px;
        left: 20%;
    }
    
    .mission .vision.text {
        left: 67%;
        top: 700px;
    }
    
    .mission .vision.content {
        left: 60%;
        top: 770px;
    }
}

@media screen and (max-width: 800px) {
    .mission .value.content,
    .mission .mission_c.content,
    .mission .vision.content {
        margin-left:0px;
    }
}

@media screen and (max-width: 600px) {
    .mission .company_img1 {
        height: 1000px;
    }

    .mission .value.img {
        width: 150px;
        height: 100px;
        top: 190px;
        left: 20%;
    }
        
    .mission .value.text {
        left: 65%;
        top: 190px;
    }
    
    .mission .value.content {
        left: 65%;
        top: 260px;
    }
    
    .mission .mission_c.img {
        width: 150px;
        height: 100px;
        top: 450px;
        left: 21%;
    }
    
    
    .mission .mission_c.text {
        top: 430px;
        left: 67%;
    }
    
    .mission .mission_c.content {
        top: 510px;
        left: 53%;
        height: 200px;
    }

    .mission .vision.img {
        width: 150px;
        height: 100px;
        top: 700px;
        left: 20%;
    }
    
    .mission .vision.text {
        left: 67%;
        top: 700px;
    }
    
    .mission .vision.content {
        left: 50%;
        top: 770px;
    }
}

.goal{
    margin-top: 359px;
    height: 472px;
}
.goal .inner{
    height: 472px;
    width: 100%;
}
.goal .company_con1 {
    position: absolute;
    width: 89px;
    height: 86px;
    top: 0px;
}
.goal .rectangle {
    position: absolute;
    width: 322px;
    height: 48px;
    background: #4E6234;
    border-radius: 10px;
}
.goal .rectangle.rec1 {
    top: 145px;
    left: 20%;
}
.goal .rectangle.rec2 {
    top: 145px;
}
.goal .rectangle.rec3 {
    right: 20%;
    top: 145px;
}

.goal .rectangle .text1 {
    position: absolute;
    width: 270px;
    height: 172px;
    left: 23px;
    top: 9px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.goal .rectangle .text2 {
    position: absolute;
    width: 309px;
    height: 172px;
    left: 4px;
    top: 100px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 1600px) {     
    .goal .rectangle.rec1 {
        top: 145px;
        left: 10%;
    }
    .goal .rectangle.rec2 {
        top: 145px;
    }
    .goal .rectangle.rec3 {
        right: 10%;
        top: 145px;
    }
}

@media screen and (max-width: 1200px) {     
    .goal .rectangle.rec1 {
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
    .goal .rectangle.rec2 {
        top: 399px;
        left: 50%;
        transform: translateX(-50%);
    }
    .goal .rectangle.rec3 {
        top: 708px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.history{
    margin-top: 267px;
    height: 545px;
}
.history .inner{
    height: 545px;
    width: 100%;
}
.history .company_con1 {
    position: absolute;
    width: 160px;
    height: 86px;
    top: 0px;
}
.history-bar {
    position: absolute;
    width: 100%;
    height: 66px;
    top: 107px;
    left: 0;
}

.history .company_con2 {
    position: absolute;
    width: 400px;
    height: 38px;
    top: 122px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.615em;
    color: #FFFFFF;
}

.history .company_con3 {
    position: absolute;
    width: 459px;
    height: 58px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}
.history .company_con3.text1 {
    top: 230px;

}
.history .company_con3.text2 {
    top: 333px;
    width: 170px;
}

.history .company_con3.text3 {
    top: 333px;
    width: 170px;
}

@media screen and (max-width: 1200px) {     
    .history .inner{
        top: 300px;
        height: 545px;
        width: 100%;
        /*background-color: gold;*/
    }

    .footer-container{
        position:absolute;
        top: 5000px;
        width:100%;
        height: 271px;
    }
}

 @media screen and (max-width: 415px) {
    .footer-container{
 
        top: 4100px;

    }

 .introduce .gradation-bar1,
 .introduce .gradation-bar2,
 .introduce .company_con2 img{
     display: none;
 }

 .company_con1 img{
     position: absolute;
     width: 184px;
     left: 50%;
     transform: translateX(-50%);
 }
.about_us {
    margin-top: 164px;
    height: 249px;
}
.about_us .inner {
    height: 249px;
    width: 100%;
    /*background-color: tomato;*/
}
.about_us .company_img0 {
    position: relative;
    top: 23px;
    height: 225px;
}
.about_us .company_img1 {
    position: absolute;
    width: 220px;
    top: 71px;
}

.introduce {
    margin-top: 267px;
    height: 809px;
    /*background-color: #006BE8;*/
}
.introduce .inner {
    height: 809px;
    width: 100%;
}
.introduce .company_img1{
    left:35%;
}
.introduce .company_img1 img{
    position: absolute;
    top: 0;
    width: 135px;
}
.introduce .company_img2 {
    position: absolute;
    top: 85px;
    width: 100%;
    height: 350px;
}
.introduce .company_img2 img {
    position: absolute;
    width: 100%;
    left: 55%;
}
.introduce .company_con1 {
    display:none;
}

.introduce .company_con1-mobile{
    width:367px;
    justify-content: center;
    text-align: center;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 147.336%;

    display:inline;;
    position: absolute;
    height: 80px;
    top: 130px;
    color: #4E6234;
    font-size:5.6vw;
    z-index: 1;
}

.introduce .company_con2 {
    position: absolute;
    top: 384px;
    position: absolute;
    width: 100%;
    height: 424px;
    left: 0;
    background: #2C2C2C url("/static/images/company_app_img/company_m_img2.png") no-repeat center;
}
.mission {
    position: relative;
    margin-top: 68px;
    height: 656px;
}

.mission .company_img1{
    height: 500px;
}
.mission .inner{
    height: 656px;
    width: 100%;
    /*background-color: #95C05D;*/
}
.mission .vector {
    position: absolute;
    width: 61.5px;
    height: 0px;
    top: 0px;
    border: 2px solid #000000;
}

.mission .company_con1 {
    position: absolute;
    width: 193px;
    top: 39px;
}


.mission .dreamplan {
    position: absolute;
    top: 35px;
    width: 277px;

}
.mission .dreamplan img{
    position: absolute;
    width: 277px;
}

.mission .img {
    position: absolute;
    width: 119px;
    height: 106px;
}

.mission .text {
    position: absolute;
    width: 77px;
    height: 26px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #95C05D;
}

.mission .content {
    position: absolute;
    height: 36px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.mission .value.img {
    left: 5%;
    top: 98px;
}

.mission .vision.img {
    left: 5%;
    top: 362px;
}

.mission .mission_c.img {
    top: 230px;
    left: 5%;
}

.mission .mission_c.text {
    top: 230px;
    width: auto;
    left: 67%;
}
.mission .value.text {
    left: 62%;
    top: 113px;
    width: auto;
}
.mission .vision.text {
    left: 67%;
    top: 371px;
    width: auto;
}


.mission .mission_c.content {
    top: 270px;
    left: 50%;
    width: auto;
}
.mission .vision.content {
    left: 50%;
    top: 411px;
    width: auto;
}
.mission .value.content {
    /*right: 38.5%;*/
    left: 60%;
    top: 153px;
    width: auto;
}

.goal{
    margin-top: 204px;
    height: 923px;
}
.goal .inner{
    height: 923px;
    width: 100%;

}
.goal .company_con1 {
    position: absolute;
    top: 0px;
}
.goal .company_con1 img{
    position: absolute;
    width: 56px;
}
.goal .rectangle {
    position: absolute;
    width: 322px;
    height: 48px;
    background: #4E6234;
    border-radius: 10px;
}
.goal .rectangle.rec1 {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}
.goal .rectangle.rec2 {
    top: 399px;
    left: 50%;
    transform: translateX(-50%);
}
.goal .rectangle.rec3 {
    top: 708px;
    left: 50%;
    transform: translateX(-50%);
}

.goal .rectangle .text1 {
    position: absolute;
    width: 270px;
    height: 172px;
    left: 23px;
    top: 9px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.goal .rectangle .text2 {
    position: absolute;
    width: 309px;
    height: 172px;
    left: 4px;
    top: 60px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.goal .rectangle .bg1 {
    background: rgba(78, 98, 52, 0.1);
    border-radius: 10px;
    width: 322px;
    height: 290px;
    left: 50%;
    transform: translateX(-50%);
}
.goal .rectangle .bg2 {
    background: rgba(78, 98, 52, 0.1);
    border-radius: 10px;
    width: 322px;
    height: 290px;
    left: 50%;
    transform: translateX(-50%);
}
.goal .rectangle .bg3 {
    background: rgba(78, 98, 52, 0.1);
    border-radius: 10px;
    width: 322px;
    height: 205px;
    left: 50%;
    transform: translateX(-50%);
}

.history{
    margin-top: 90px;
    height: 545px;
}
.history .inner{
    height: 545px;
    width: 100%;
    /*background-color: gold;*/
    top:0px;
}
.history .company_con1 {
    position: absolute;
    top: 0px;
}
.history .company_con1 img {
    position: absolute;
    width: 105px;
}
.history .gradation1 {
    position: absolute;
    top: 58px;
    right: 50%;
    transform: translateX(-50%);
}
.history .gradation1 img{
    position: absolute;
    width: 310px;
    height: 37px;
}
.history .gradation2 {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}
.history .gradation2 img {
    position: absolute;
    width: 310px;
    height: 37px;
}
.history .company_con2 {
    position: absolute;
    width: 253px;
    height: 66px;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.615em;

    color: #FFFFFF;
}

.history .company_con3 {
    position: absolute;
    width: 340px;
    height: 240px;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.history .company_con3.text1 {
    top: 500px;
    color: #4E6234;
}
.history .company_con3.text2 {
    top: 233px;
    width: 150px;
    left: 35%;
}

.history .company_con3.text3 {
    top: 233px;
    width: 150px;
    left: 60%;
}

 }















/*    .footer {*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        height: 321px;*/
/*        left: 0px;*/
/*        top: 3873px;*/
/*        background: #4E6234;*/
/*    }*/

/*    .footer-content1 {*/
/*        position: absolute;*/
/*        width: 36px;*/
/*        height: 84px;*/
/*        left: 25px;*/
/*        top: 3966.5px;*/

/*        font-family: 'Pretendard';*/
/*        font-style: normal;*/
/*        font-weight: 700;*/
/*        font-size: 9px;*/
/*        line-height: 155%;*/
/*        !* or 14px *!*/
/*        color: #FFFFFF;*/
/*    }*/

/*    .footer-content2 {*/
/*        position: absolute;*/
/*        width: 277px;*/
/*        height: 84px;*/
/*        left: 84px;*/
/*        top: 3966.5px;*/

/*        font-family: 'Pretendard';*/
/*        font-style: normal;*/
/*        font-weight: 400;*/
/*        font-size: 9px;*/
/*        line-height: 155%;*/
/*        !* or 14px *!*/
/*        color: #FFFFFF;*/
/*    }*/

/*    .footer-content3 {*/
/*        position: absolute;*/
/*        width: 84px;*/
/*        height: 11px;*/
/*        left: 84px;*/
/*        top: 4073.5px;*/

/*        font-family: 'Pretendard';*/
/*        font-style: normal;*/
/*        font-weight: 700;*/
/*        font-size: 7px;*/
/*        line-height: 155%;*/
/*        !* identical to box height, or 11px *!*/
/*        color: #FFFFFF;*/
/*    }*/

/*    .direction1 {*/
/*        position: absolute;*/
/*        width: 46px;*/
/*        height: 52px;*/
/*        left: 80%;*/
/*        top: 84px;*/
/*        background: url(/static/images/direction1.png) no-repeat;*/

/*    }*/



/* }*/
