body{
	margin: 0px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

#wrapper {
	position: relative;
	height: 712px;
}

#footerSections {
	position: relative;
	height: 184px;
}

#bottomBar {
	position: relative;
	height: 48px;
}

#title {
	background: black;
}


#wrapper {
	background: url(/static/images/background1.jpg);
}

#overlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#TEHRAN {
	position: absolute;
	width: 1909px;
	height: 568px;
	left: -6px;
	top: 148px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 476px;
	line-height: 568px;
	/* identical to box height */

	color: rgba(255, 255, 255, 0.05);

}

#ddd{
	/* SMART FARM CONTAINER */


position: absolute;
width: 1000px;
height: 176px;
left: 372px;
top: 601px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 88px;
text-align: center;
letter-spacing: 0.025em;

color: #FFFFFF;
}

.sectionName {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 15px;
}
.line1 {
	background: rgba(0, 0, 0, 0.08);
	height: 2px;
}
.line2 {
	background: linear-gradient(234.67deg, rgba(255, 255, 255, 0.16) 0.24%, rgba(255, 255, 255, 0) 100.87%), #006BE8;
	height: 2px;
	width: 30%;
	position: relative;
	bottom: 2px;
}

.Group2{
	position: relative;
	width: 21px;
	height: 25px;
	left: 49.42%;
	margin-top: 400px;

	background: url(/static/images/Group2.png);
}

.banner1{
	position: absolute;
	width: 100%;
	height: 359px;
	left: 0px;
	top: 1369px;

	background: url(/static/images/image2.png);
}

