body{
	margin: 0px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.wrapper {
	top: 0;
	position: relative;
	height: 1080px;
	width: 1920px;
	background: url(/static/images/background1.jpg);
}

.title {
	background: black;
}


.overlay {
  position: absolute;
  top: 0%;
  left: 0;
  width: 1920px;
  height: 1150px;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay2{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 360px;
	background-color: rgba(255, 255, 255, 0.83);
}

.TEHRAN {
	position: absolute;
	width: 1920px;
	height: 568px;
	left: -6px;
	top: 148px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 476px;
	line-height: 568px;
	/* identical to box height */

	color: rgba(255, 255, 255, 0.05);
 
}

.ddd{
	/* SMART FARM CONTAINER */
	position: absolute;
	width: 1920px;
	height: 158px;
	left: 19%;
	top: 67vh;
	text-align: left;
}


.flex-container {
	display: flex;
	align-items: center; /* 요소들을 수직으로 가운데 정렬 */
}

.content1{
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 88px;
	text-align: center;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

.content2{
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 88px;
	text-align: center;
	letter-spacing: 0.13em;
	color: #95C05D;
}

.content3{
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;

	color: #FFFFFF;
}

.content4{
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: #FFFFFF;
}

.vertical-line {
	border-left: 4px solid white;
	height: 100%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;

}

.sectionName {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 15px;
}
.line1 {
	background: rgba(0, 0, 0, 0.08);
	height: 2px;
}
.line2 {
	background: linear-gradient(234.67deg, rgba(255, 255, 255, 0.16) 0.24%, rgba(255, 255, 255, 0) 100.87%), #006BE8;
	height: 2px;
	width: 30%;
	position: relative;
	bottom: 2px;
}

.blank{
	width: 100%;
	height: 20vh;
}

.Group2{
	position: relative;
	width: 21px;
	height: 25px;
	left: 49.42%;
	margin-top: 200px;

	background: url(/static/images/Group2.png);
}

.banner1{
	position: absolute;
	width: 100%;
	height: 360px;
	left: 0px;


	background: url(/static/images/image2.png);
}

.banner1-content1{
	display: flex;
	position: absolute;
	width: 500px;
	height: 57px;
	margin-left: 41%;
	margin-top: 109px;

	font-family: 'Pretendard';
	font-style: normal;
	font-size: 48px;
	line-height: 57px;
	text-align: center;
	color: #282828;
}

.banner1-content2{
	position: absolute;
	width: 600px;
	height: 58px;
	left: 36%;
	margin-top: 198px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #282828;
}

.font-color1{
	color: #4E6234;
}

.banner2{
	position: absolute;
	width: 100%;
	height: 721px;
	margin-top: 360px;

	background: url(/static/images/image5.png);
	transform: matrix(1, 0, 0, 1, 0, 0);

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 53px;
	text-align: right;

	color: #313131;
}

.banner2-content1{
	position: absolute;
	width: 400px;
	height: 159px;
	left: 25%;
	top: 15%;
}

.banner2-content2{
	position: absolute;
	width: 500px;
	height: 230px;
	left: 20%;
	top: 49%;

	font-size: 28px;
	line-height: 46px;
	text-align: right;
}

.banner2-image{
	position: absolute;
	width: 598px;
	height: 721px;
	left: 1000px;
	top: 0%;

	background: url(/static/images/image4.png);
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.banner3{
	position: absolute;
	width: 100%;
	height: 524px;
	left: 0px;
	margin-top: 1241px;
  
	background: #2C2C2C;
}

.banner3-image{
	position: absolute;
	width: 561px;
	height: 524px;
	left: 20%;
	top: 0;

	background: url(/static/images/image6.png);
}

.banner3-content1{
	position: absolute;
	width: 440px;
	height: 53px;
	left: 991px;
	top: 84px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 53px;
	color: #FFFFFF;
}

.banner3-hr{
	position: absolute;
	width: 454px;
	height: 0px;
	left: 457px;
	top: 27px;

	border: 1px solid #A9A9A9;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}


@media screen and (max-width: 800px) {
	.ddd{
		left:0%;
	}

	.font-color1{
		color:#D8F5B4
	}

	.banner2{
		font-size: 4vw;
		color: #FFFFFF;
		line-height: 20px;
		background: url(/static/images/image4.png);
	}

	.banner2-image{
		display:none;
	}

	.banner2-content1{
		width: 60%;
	}

	.banner2-content2{
		top:40%;

	}
	
}
