@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.navBar {
    /* Rectangle 16 */
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #4CAF50;
	z-index: 1;
}
    

.title {
	background: black;
    position: relative;
	height: 200px;
}

.logo {
	position: absolute;
	width: 109px;
	height: 38px;
	left: 3.75%;
	top: 16px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	line-height: 32px;
	color: #FFFFFF;
	background: url(/static/images/main_img/logo.png) no-repeat;
}

.link1 {
	position: absolute;
	width: 97px;
	height: 24px;
	left: 31.458%;
	top: 23px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	/* identical to box height */


	color: #FFFFFF;
}

.link1:active {
    background-color : orange ;
    color : black ;
    }        
.link2 {
	position: absolute;
	width: 97px;
	height: 24px;
	left: 40.05%;
	top: 23px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	/* identical to box height */


	color: #FFFFFF;
}

.link2:active {
    background-color : orange ;
    color : black 
    }
.link3 {
	position: absolute;
	width: 97px;
	height: 24px;
	left: 48.64%;
	top: 23px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	/* identical to box height */


	color: #FFFFFF;
}
.link3:active {
    background-color : orange ;
    color : black 
    }

.link4 {
	position: absolute;
	width: 97px;
	height: 24px;
	left: 56.54%;
	top: 23px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	/* identical to box height */


	color: #FFFFFF;
}
.link4:active {
    background-color : orange ;
    color : black 
    }

.link5 {
	position: absolute;
	width: 97px;
	height: 24px;
	left: 64.63%;
	top: 23px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	/* identical to box height */


	color: #FFFFFF;
}
.link5:active {
    background-color : orange ;
    color : black 
    }
.link1:hover .link-menu,
.link2:hover .link-menu,
.link3:hover .link-menu,
.link4:hover .link-menu,
.link5:hover .link-menu {
	display: block;
}


.link-menu {
	position: absolute;
	width: 130px;
	top: 100%;
	left: -20%;
	margin-top:0px;
	display: none;
	background-color: #4CAF50;
	padding: 2px;
	text-align: center;
	font-size: 15px;
}



.signIn {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 90.3125%;
	top: 24px;

	background: url(/static/images/main_img/login1.png);
}

.langicon {

	position: absolute;
	width: 21px;
	height: 21px;
	left: 92.8125%;
	top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;

	background: url(/static/images/main_img/langicon.png);
  }

  .language{
	position: absolute;
	width: 50px;
	height: 19px;
	left: 94.0625%;
	top: 20px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 19px;
	/* identical to box height */


	color: #FFFFFF;
  }

  .language:hover .language-menu {
	display: block;
  }

  .language-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 70px;
	display: none;
	background-color: #4CAF50;
	padding: 2px;
	text-align: center;
	font-size: 15px;
	margin-top: 8px;
  }

  .language-menu div {
	margin-top: 8px;
	cursor: pointer;
  }

  .username{
	position:absolute;
	left:80%;
	top: 24px;

	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
  }

  
  @media screen and (max-width: 1600px){
	.username{
		left:76%;
	}
  }

  @media screen and (max-width: 1200px){
	.username{
		left:76%;
		font-size: 14px;
	}
  }

  @media screen and (max-width: 1000px) {

	.username{
		left:75%;
		top: 25px;
		font-size: 12px;
	}
}

  @media screen and (max-width: 850px){
	.username{
		left:77%;
		font-size: 10px;
	}
  }

  @media screen and (max-width: 800px){
	.username{
		top: 6px;
	}
  }

  @media screen and (max-width: 550px){
	.username{
		left:70%;
	}
  }

  @media screen and (max-width: 400px){
	.username{
		left:65%;
	}
  }

  @media screen and (min-width: 800px){
	  .sidebar-container,
	  .hamburger
	  {
		  display: none;
	  }
  }




  @media screen and (max-width: 800px) {

	.link1,
	.link2,
	.link3,
	.link4,
	.link5,
	.language,
	.signIn,
	.menu,
	.logo,
	.langicon{
	  display: none;
	}

    .navBar{
		position: absolute;
		width: 100%;
		height: 37px;
		left: 0px;
		top: 0px;
		background: #4CAF50;
		z-index: 1;
	}

	.mobile-navBar{
		position: relative;
		width: 390px;
		height: 37px;
		left: 0px;
		top: 0px;

		background: #4CAF50;
	}

	.mobile-logo{
		position: absolute;
		width: 37px;
		height: 13px;
		left: 45.13%;
		top: 12px;

		font-family: 'Pretendard';
		font-style: normal;
		font-weight: 700;
		font-size: 9px;
		line-height: 11px;
		color: #FFFFFF;
		background: url(/static/images/main_img/mobile-logo.png) no-repeat;
	}

	.mobile-signIn {
		position: absolute;
		width: 17px;
		height: 17px;
		left: 93.33%;
		top: 10px;

		background: url(/static/images/main_img/mobile-login1.png);
}

	.mobile-menu1
	/*.mobile-menu2,*/
	/*.mobile-menu3*/
	{
		position: absolute;
		width: 17px;
		height: 2px;
		left: 2.82%;
		background: #D9D9D9;
	}

	.mobile-menu1 {
		top: 12px;
		background: url(/static/images/main_img/Rectangle1.png);
	}

	/*.mobile-menu2 {*/
	/*	top: 17px;*/
	/*	background: url(/static/images/Rectangle2.png);*/
	/*}*/

	/*.mobile-menu3 {*/
	/*	top: 22px;*/
	/*	background: url(/static/images/Rectangle3.png);*/
	/*}*/

	.sidebar-container {
  		position: relative;

}

	.sidebar {
	  position: absolute;
	  width: 100px; /* 사이드 메뉴 너비 */
	  height: 100vh; /* 사이드 메뉴 전체 높이 */
	  background-color: #F0F0F0; /* 사이드 메뉴 배경색 */
	  left: -100px; /* 사이드 메뉴가 숨겨진 위치 */
	  transition: left 0.3s ease; /* 애니메이션 트랜지션 */
	}

	.sidebar.active {
	  left: 0; /* 사이드 메뉴가 튀어나오는 위치 */
	}

	.content {
	  margin-left: 500px; /* 사이드 메뉴 너비만큼 컨텐츠 영역을 이동 */
	}


	.hamburger{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}

	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 10px;
	  left: 7px;

	  z-index: 1;

	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  text-decoration: none;
	  color: #232323;

	  transition: color 0.3s ease;
	}

	#menuToggle a:hover
	{
	  color: tomato;
	}


	#menuToggle input
	{
	  display: block;
	  width: 30px;
	  height: 27px;
	  position: absolute;
	  top: -7px;
	  left: -5px;

	  cursor: pointer;

	  opacity: 0;
	  z-index: 2;

	  -webkit-touch-callout: none;
	}

	#menuToggle span
	{
	  display: block;
	  width: 26px;
	  height: 2px;
	  margin-bottom: 5px;
	  position: relative;

	  background: #cdcdcd;
	  border-radius: 3px;

	  z-index: 1;

	  transform-origin: 4px 0px;

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/*
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  height: 110vh;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;

	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */

	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}


  }