:root {
  --vw: 1;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.link{
    text-decoration: none;
}

.img-center {
    left: 50%;
    transform: translateX(-50%);
}

body{
    font-family: 'Pretendard';
}

.product_img1 {
    position: relative;
    top: 394px;
    height: 726px;
    background-image: url("/static/images/product_app_img/image21.png");
    background-position: center;
    background-size: cover;
}

.product_con1 {
    position: absolute;
    width: 100%;
    height: 29px;
    top: 347px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    letter-spacing: 0.945em;

    color: #000000;
}
.product_con2 {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    top: 276px;
}

.product_con2 img {
    width: 350px;
}


.product_con3 {
    position: absolute;
    top: 1377px;
}
.product_con3 img{
    width: 191px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
}
.product_con4 {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 1510px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 163.84%;
    text-align: center;
    color: #FFFFFF;
}
.product_con4 .item1{
    position: absolute;
    left: 35%;
}
.product_con4 .item2 {
    position: absolute;
    left: 44%;
}
.product_con4 .item3 {
    position: absolute;
    left: 53%;
}
.product_con4 .item4 {
    position: absolute;
    left: 62%;
}

@media screen and (max-width:700px){
    .product_con4 .item1{
        left: 20%;
    }

    .product_con4 .item2 {
        left: 40%;
    }

    .product_con4 .item3 {
        left: 60%;
    }
    .product_con4 .item4 {
    
        left: 80%;
    }
}

.rectangle20 {
    position: absolute;
    width: 50%;
    height: 66px;
    right: 50%;
    top: 1490px;
    background: linear-gradient(270deg, rgba(78, 98, 52, 0.62) 50%, rgba(255, 255, 255, 0) 100%);
}

.rectangle21 {
    position: absolute;
    width: 50%;
    height: 66px;
    left: 50%;
    top: 1490px;
    background: linear-gradient(270deg, rgba(78, 98, 52, 0.62) 50%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
}
.vector11 {
    position: absolute;
    width: 158px;
    height: 0px;
    transform: translateX(-50%);
    border: 2px solid #FFFFFF;
}

@media screen and (max-width:1700px){
    .vector11{
        width: 100px;
    }
}

@media screen and (max-width:1100px){
    .vector11{
        width: 60px;
    }
}

.product_img2 {
    position: absolute;
    width: 100%;
    height: 986px;
    top: 1553px;
    background: url(/static/images/product_app_img/image23.png) no-repeat;
    background-size: cover;
}
.product_cont5 {
    position: absolute;
    width: 1100px;
    height: 79px;
    left: 50%;
    transform: translateX(-50%);
    
    top: 220px;

    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 163.836%;
}

@media screen and (max-width: 1100px){
    .product_cont5 {
        width: 670px;
        font-size: 30px;
    }
}

@media screen and (max-width: 670px){
    .product_cont5 {
        width: 450px;
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    .product_cont5 {
        width: 360px;
        font-size: 20px;
    }
}

/*.product_cont5 img {*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    transform: translateX(-50%);*/
/*    top: 220px;*/
/*}*/
.product_cont6 {
    height: 39px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 163.84%;
    /* or 39px */

    text-align: center;

    color: #95C05D;
}
.product_cont6 .item1 {
    position: absolute;
    left: 15%;
    transform: translateX(-50%);
    top: 583px;
    width: 236px;
}
.product_cont6 .item2{
    position: absolute;
    top: 583px;
    left: 38%;
    transform: translateX(-50%);
    width: 236px;
}
.product_cont6 .item3{
    position: absolute;
    top: 583px;
    left: 62%;
    transform: translateX(-50%);
    width: 236px;
}
.product_cont6 .item4{
    position: absolute;
    top: 583px;
    left: 85%;
    transform: translateX(-50%);
    width: 236px;
}

.product_img3 {
    position: absolute;
    width: 236px;
    height: 211px;
    left: 15%;
    transform: translateX(-50%);
    top: 345px;
    background: url(/static/images/product_app_img/컨테이너타입.png) no-repeat;
	background-size: cover;
}
.product_img4 {
    position: absolute;
    width: 237px;
    height: 211px;
    left: 38%;
    transform: translateX(-50%);
    top: 345px;
    background: url(/static/images/product_app_img/주거복합형.png) no-repeat;
	background-size: cover;
}
.product_img5 {
    position: absolute;
    width: 237px;
    height: 211px;
    left: 62%;
    transform: translateX(-50%);
    top: 345px;

    background: url(/static/images/product_app_img/컨설팅.png) no-repeat;
	background-size: cover;
}
.product_img6 {
    position: absolute;
    width: 236px;
    height: 211px;
    left: 85%;
    transform: translateX(-50%);
    top: 345px;

    background: url(/static/images/product_app_img/운영.png) no-repeat;
	background-size: cover;
}

.product_cont7 {
    height: 78px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 163.84%;
    text-align: center;
    color: #FFFFFF;
}
.product_cont7 .item1 {
    position: absolute;
    top: 636px;
    left: 15%;
    transform: translateX(-50%);
    width: 236px;
}
.product_cont7 .item2 {
    position: absolute;
    top: 636px;
    left: 38%;
    transform: translateX(-50%);
    width: 236px;
}
.product_cont7 .item3 {
    position: absolute;
    top: 636px;
    left: 62%;
    transform: translateX(-50%);
    width: 236px;
}
.product_cont7 .item4 {
    position: absolute;
    top: 636px;
    left: 85%;
    transform: translateX(-50%);
    width: 236px;
}

@media screen and (max-width: 1000px){
    .product_img3 {
        width: 170px;
        height: 150px;
        background-size: contain;
        left: 20%;
    }

    .product_cont6 .item1 {
        left: 20%;
        font-size: 20px;
        top: 500px;
    }

    .product_cont7 .item1 {
        left: 20%;
        font-size: 20px;
        top: 530px;
    }

    .product_img4 {
        width: 170px;
        height: 150px;
        background-size: contain;
        left: 80%;
    }

    .product_cont6 .item2{
        left: 80%;
        font-size: 20px;
        top: 500px;
    }

    .product_cont7 .item2{
        left: 80%;
        font-size: 20px;
        top: 530px;
    }

    .product_img5 {
        width: 170px;
        height: 150px;
        background-size: contain;
        left: 20%;
        top: 620px;
    }

    .product_cont6 .item3{
        left: 20%;
        font-size: 20px;
        top: 780px;
    }

    .product_cont7 .item3{
        left: 20%;
        font-size: 20px;
        top: 810px;
    }

    .product_img6 {
        width: 170px;
        height: 150px;
        background-size: contain;
        left: 80%;
        top: 620px;
    }

    .product_cont6 .item4{
        left: 80%;
        font-size: 20px;
        top: 780px;
    }

    .product_cont7 .item4{
        left: 80%;
        font-size: 20px;
        top: 810px;
    }
}

@media screen and (max-width: 600px){
    .product_img3,
    .product_img4,
    .product_img5,
    .product_img6 {
        width:130px;
    }

    .product_cont6 .item1,
    .product_cont6 .item2,
    .product_cont6 .item3,
    .product_cont6 .item4 {
        width: 150px;
        font-size:15px;
    }

    .product_cont7 .item1,
    .product_cont7 .item2,
    .product_cont7 .item3,
    .product_cont7 .item4 {
        width:150px;
        font-size:15px;
    }
}

.product_cont8 {
    width: 242px;
    height: 86px;

}
.product_cont8 img {
    position: absolute;
    left: calc(50% - 242px / 2);
    top: 2793px;

}

.product_cont9 {
    position: absolute;
    width: auto;
    height: 79px;
    left: 19.3%;
    top: 520px;

    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 163.836%;
}

.product_img7 {
    position: absolute;
    width: 100%;
    height: 1039px;
    left: 0px;
    top: 2903px;

    background: url(/static/images/product_app_img/image24.png);
}

.product_con10 {
    position: absolute;
    width: auto;
    height: 260px;
    left: 19.3%;
    top: 661px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 163.84%;
    /* or 52px */
    color: #FFFFFF;
}

@media screen and (max-width:1200px){
    .product_cont9,
    .product_con10{
        font-size: 25px;
    }
}

@media screen and (max-width:500px){
    .product_cont9,
    .product_con10{
        font-size: 18px;
    }
}

.product_img8 {
    position: absolute;
    width: 338px;
    height: 301px;
    left: 24%;
    transform: translateX(-50%);
    top: 4349px;
    background: url(/static/images/product_app_img/시스템2.png) no-repeat;
    background-size: cover;
}

.product_img9 {
    position: absolute;
    width: 338px;
    height: 301px;
    left: 50%;
    transform: translateX(-50%);
    top: 4349px;
    background: url(/static/images/product_app_img/가공식품2.png);
    background-size: cover;
}

.product_img10 {
    position: absolute;
    width: 338px;
    height: 301px;
    left: 74%;
    transform: translateX(-50%);
    top: 4349px;
    background: url(/static/images/product_app_img/검토1.png);
    background-size: cover;
}

.vector44-1 {
    position: absolute;
    width: 95px;
    height: 175px;
    left: 36.09%;
    top: 4408.5px;
    background-image: url("/static/images/product_app_img/Vector44.png");
    background-size: cover;
}
.vector44-2 {
    position: absolute;
    width: 95px;
    height: 175px;
    left: 60.16%;
    top: 4408.5px;
    background-image: url("/static/images/product_app_img/Vector44.png");
    background-size: cover;
}

.product_cont11 {
    position: absolute;
    width: 243px;
    height: 86px;
    left: calc(50% - 243px / 2 + 0.5px);
    top: 4196px;
    color: #000000;
}

.product_cont12 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 163.84%;
    text-align: center;
    color: #000000;
}
.product_cont12 .item1 {
    position: absolute;
    left: 24%;
    transform: translateX(-50%);
    width: auto;
    top: 4695px;
}
.product_cont12 .item2{
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 4695px;
}
.product_cont12 .item3{
    position: absolute;
    width: auto;
    left: 74%;
    transform: translateX(-50%);
    top: 4695px;
}

.product_cont13 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 163.84%;
    /* or 39px */
    color: #000000;
    text-align: center;
}
.product_cont13 .item1 {
    position: absolute;
    width: auto;
    height: 117px;
    left: 24%;
    transform: translateX(-50%);
    top: 4750px;
}
.product_cont13 .item2 {
    position: absolute;
    width: auto;
    height: 117px;
    left: 50%;
    transform: translateX(-50%);
    top: 4750px;
}
.product_cont13 .item3 {
    position: absolute;
    width: auto;
    height: 117px;
    left: 74%;
    transform: translateX(-50%);
    top: 4750px;
}
@media screen and (max-width:1600px){
    .product_img8,
    .product_img9,
    .product_img10 {
        width: 200px;
        height: 180px;
    }
 
    .vector44-1,
    .vector44-2 {
        top: 4370.5px;
        width: 70px;
        height: 140px;
    }

    .product_cont12,
    .product_cont13 {
        font-size: 20px;
    }

    .product_cont12 .item1,
    .product_cont12 .item2,
    .product_cont12 .item3{
        top: 4550px;
    }

    .product_cont13 .item1,
    .product_cont13 .item2,
    .product_cont13 .item3{
        top: 4600px;
    }
}

@media screen and (max-width:1100px){
    .product_img8,
    .product_img9,
    .product_img10 {
        width: 120px;
        height: 105px;
    }

    .vector44-1,
    .vector44-2 {
        top: 4370.5px;
        width: 40px;
        height: 80px;
    }

    .product_cont12,
    .product_cont13 {
        font-size: 13px;
    }

    .product_cont12 .item1,
    .product_cont12 .item2,
    .product_cont12 .item3{
        top: 4470px;
    }

    .product_cont13 .item1,
    .product_cont13 .item2,
    .product_cont13 .item3{
        top: 4520px;
    }
}

@media screen and (max-width:700px){
    .product_img8,
    .product_img9,
    .product_img10 {
        left:30%;
    }
    
    .product_img9{
        top: 4600px;
    }
    .product_img10 {
        top: 4850px;
    }

    .vector44-1,
    .vector44-2 {
        width: 50px;
        height: 100px;
        transform: rotate(90deg);
    }

    .vector44-1{
        left: 45%;
        top: 4470px;
    }
    .vector44-2{
        left: 45%;
        top: 4740px;
    }

    .product_cont12,
    .product_cont13 {
        font-size: 13px;
    }

    .product_cont12 .item1{
        top: 4350px;
    }

    .product_cont12 .item2{
        top: 4600px;
    }
    
    .product_cont12 .item3{
        top: 4850px;
    }

    .product_cont12 .item1,
    .product_cont12 .item2,
    .product_cont12 .item3,
    .product_cont13 .item1,
    .product_cont13 .item2,
    .product_cont13 .item3{
        left:60%;
    }

    .product_cont13 .item1{
        top: 4390px;
    }

    .product_cont13 .item2{
        top:4640px;
    }

    .product_cont13 .item3{
        top: 4890px;
    }
}

.product_cont14 {
    position: absolute;
    width: 243px;
    height: 86px;
    left: calc(50% - 243px / 2 + 0.5px);
    top: 5159px;
}

.inner {
    left: 0px;
    right: 0px;
    margin: auto;
    position: relative;
    width: 100%;
}


.product_img11 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 27%;
    transform: translateX(-50%);
    top: 4500px;

    background: url(/static/images/product_app_img/image25.png) no-repeat;
    background-size: cover;
}

.product_img12 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 4500px;
    background: url(/static/images/product_app_img/image26.png) no-repeat;
    background-size: cover;
}

.product_img13 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 73%;
    transform: translateX(-50%);
    top: 4500px;
    background: url(/static/images/product_app_img/image27.png) no-repeat;
    background-size: cover;
}

.product_img14 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 27%;
    transform: translateX(-50%);
    top: 4989px;
    background: url(/static/images/product_app_img/image28.png) no-repeat;
    background-size: cover;
}

.product_img15 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 4989px;
    background: url(/static/images/product_app_img/image29.png) no-repeat;
    background-size: cover;
}

.product_img16 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 73%;
    transform: translateX(-50%);
    top: 4989px;
    background: url(/static/images/product_app_img/image30.png) no-repeat;
    background-size: cover;
}

.product_cont15{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #4E6234;
}
.product_cont15 .item1 {
    position: absolute;
    width: 398px;
    height: 28px;
    left: 27%;
    transform: translateX(-50%);
    top: 4780px;
}
.product_cont15 .item2{
    position: absolute;
    width: 398px;
    height: 28px;
    left: 50%;
    transform: translateX(-50%);
    top: 4780px;
}
.product_cont15 .item3{
    position: absolute;
    width: 398px;
    height: 28px;
    left: 73%;
    transform: translateX(-50%);
    top: 4780px;
}
.product_cont15 .item4 {
    position: absolute;
    width: 398px;
    height: 28px;
    left: 27%;
    transform: translateX(-50%);
    top: 5270px;
}
.product_cont15 .item5{
    position: absolute;
    width: 398px;
    height: 28px;
    left: 50%;
    transform: translateX(-50%);
    top: 5270px;
}
.product_cont15 .item6{
    position: absolute;
    width: 398px;
    height: 28px;
    left: 73%;
    transform: translateX(-50%);
    top: 5270px;
}

.product_cont16 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #363636;
}

.product_cont16 .item1{
position: absolute;
width: 398px;
height: 19px;
left: 27%;
transform: translateX(-50%);
top: 4820px;
}
.product_cont16 .item2{
position: absolute;
width: 398px;
height: 19px;
left: 50%;
transform: translateX(-50%);
top: 4820px;
}
.product_cont16 .item3{
position: absolute;
width: 398px;
height: 19px;
left: 73%;
transform: translateX(-50%);
top: 4820px;

}
.product_cont16 .item4{
position: absolute;
width: 398px;
height: 19px;
left: 27%;
transform: translateX(-50%);
top: 5310px;
}
.product_cont16 .item5{
position: absolute;
width: 398px;
height: 19px;
left: 50%;
transform: translateX(-50%);
top: 5310px;
}
.product_cont16 .item6{
position: absolute;
width: 398px;
height: 19px;
left: 73%;
transform: translateX(-50%);
top: 5310px;
}

.btn1 {
  position: absolute;
  left: 27%;
  transform: translateX(-50%);
  top: 4860px;
}
.btn2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4860px;
}
.btn3 {
  position: absolute;
  left: 73%;
  transform: translateX(-50%);
  top: 4860px;
}
.btn4 {
  position: absolute;
  left: 27%;
  transform: translateX(-50%);
  top: 5350px;
}
.btn5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5350px;

}
.btn6 {
  position: absolute;
  left: 73%;
  transform: translateX(-50%);
  top: 5350px;
}

.product_btn1 {
  box-sizing: border-box;
  width: 218px;
  height: 52px;
  border: 3px solid #4E6234;
  border-radius: 12px;
}

.product_btn2 {
  position: absolute;
  width: 150px;
  height: 30px;
  left: 35px;
  top: 11px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.84%;
  text-align: center;
  color: #4E6234;
}

@media screen and (max-width: 1500px){
    .product_img11,
    .product_img12,
    .product_img13,
    .product_img14,
    .product_img15,
    .product_img16{
        width: 250px;
        height: 180px;
    }

    .product_cont15{
        font-size:20px;
    }

    .product_cont16{
        font-size:13px;
        line-height: 40px;
    }

    .product_cont15 .item1,
    .product_cont15 .item2,
    .product_cont15 .item3{
        top: 4700px;
    }

    .product_cont16 .item1,
    .product_cont16 .item2,
    .product_cont16 .item3{
        top: 4740px;
    }

    .btn1,
    .btn2,
    .btn3{
        top: 4780px;
    }

    .product_cont15 .item4,
    .product_cont15 .item5,
    .product_cont15 .item6{
        top: 5190px;
    }

    .product_cont16 .item4,
    .product_cont16 .item5,
    .product_cont16 .item6{
        top: 5230px;
    }

    .btn4,
    .btn5,
    .btn6{
        top: 5270px;
    }
}

@media screen and (max-width: 1100px){
    .product_btn1{
        border: 3px solid rgba(255, 255, 255, 1);
    }
    .product_btn2{
        color:rgba(255, 255, 255, 1);
    }
    .product_cont15,
    .product_cont16{
        color:rgba(255, 255, 255, 1);
    }
    
    .product_cont15{
        font-size: 4.1vw;
    }

    .product_cont16{
        font-weight: 400;
        font-size: 3.0vw;
    }

    .product_img11,
    .product_img12,
    .product_img13,
    .product_img14,
    .product_img15,
    .product_img16{
        width: 50%;
        height: 300px;
    }

    .product_img12,
    .product_img14,
    .product_img16{
        left:76%;
    }

    .product_cont15 .item1{
        left: 26.1%;
        top: 4580px;
    }
    .product_cont16 .item1{
        left: 26.1%;
        top: 4650px;
    }

    .btn1{
        left: 26.1%;
        top: 4740px;
    }

    .product_cont15 .item2{
        left: 76.1%;
        top: 4580px;
    }

    .product_cont16 .item2{
        left: 76.1%;
        top: 4650px;
    }

    .btn2{
        left: 76.1%;
        top: 4740px;
    }

    .product_img13{
        left: 27%;
        top: 4850px;
    }

    .product_cont15 .item3{
        left: 26.1%;
        top: 4930px;
    }
    .product_cont16 .item3{
        left: 26.1%;
        top: 5000px;
    }

    .btn3{
        left: 26.1%;
        top: 5090px;
    }

    .product_img14{
        top: 4850px;
    }

    .product_cont15 .item4{
        left: 76.1%;
        top: 4930px;
    }
    .product_cont16 .item4{
        left: 76.1%;
        top: 5000px;
    }

    .btn4{
        left: 76.1%;
        top: 5090px;
    }

    .product_img15{
        left:27%;
        top: 5200px;
    }

    .product_cont15 .item5{
        left: 26.1%;
        top: 5280px;
    }
    .product_cont16 .item5{
        left: 26.1%;
        top: 5350px;
    }

    .btn5{
        left: 26.1%;
        top: 5440px;
    }

    .product_img16{
        top: 5200px;
    }

    .product_cont15 .item6{
        left: 76.1%;
        top: 5280px;
    }
    .product_cont16 .item6{
        left: 76.1%;
        top: 5350px;
    }

    .btn6{
        left: 76.1%;
        top: 5440px;
    }
}

@media screen and (max-width: 800px){
    .product_cont15{
        font-size: 3.1vw;
    }

    .product_cont16{
        font-weight: 400;
        font-size: 2.0vw;
    }

    .product_cont15 .item1,
    .product_cont15 .item2,
    .product_cont15 .item3,
    .product_cont15 .item4,
    .product_cont15 .item5,
    .product_cont15 .item6{
        width: 150px;
    }

    .product_cont16 .item1,
    .product_cont16 .item2,
    .product_cont16 .item3,
    .product_cont16 .item4,
    .product_cont16 .item5,
    .product_cont16 .item6{
        width: 150px;
    }

    .product_btn1 {
        width: 150px;
        height: 30px;
      }
      
      .product_btn2 {
        width: 115px;
        height: 30px;
        font-weight: 300;
        font-size: 15px;
        left: 17px;
        top: 5px;
      }
}


.footer-container{
    position:absolute;
    top: 6400px;
    width:100%;
}

.direction1 {
    position: absolute;
    width: 46px;
    height: 52px;
    left: 80%;
    top: 84px;

    background: url(/static/images/main_img/direction1.png) no-repeat;
}

 