.regist-title {
    width: 100%;
    position: absolute;
    top: 250px;

    font-family: Pretendard;
    font-style: normal;
}

.regist-title h1{
    color: #4E6234;
    font-weight: 700;
}

#ID{
    position:absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-64%);
}

.id-rule{
    position:absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);

    color: #424242;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%;
}

#password{
    position:absolute;
    top:500px;
    left: 50%;
    transform: translateX(-50%);
}

#password_check{
    position:absolute;
    top:560px;
    left: 50%;
    transform: translateX(-50%);
}

#email{
    position:absolute;
    top:620px;
    left: 50%;
    transform: translateX(-50%);
}

#name{
    position:absolute;
    top:680px;
    left: 50%;
    transform: translateX(-50%);
}

.input-box{
    width: 450px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;

    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.836%;
}

.id-input-box{
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;

    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.836%;
}

.regist-btn{
    position:absolute;
    top: 740px;
    left: 50%;
    transform: translateX(-50%);
    background: #4E6234;
    color: #FFF;
}

.content1{
    position:absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;
    flex-direction: column;
    flex-shrink: 0;

    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%;
}

.content2{
    position:absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;
    flex-direction: column;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%;
}


.id-validation-message {
    position:absolute;
    top: 345px;
    left: calc(50% - 150px);
    transform: translateX(-50%);
    width: auto;
    height: auto;
    
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%;
    margin-top: 5px;
    font-size: 13px;
  }

  #idValidationMessage-OK{
    color:blue;
  }

  #idValidationMessage-NO{
    color:red;
  }

.pw-validation-message {
    position:absolute;
    top: 570px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%;
    margin-top: 5px;
    font-size: 13px;
}

#passwordMatchMessage-OK{
    color: blue;
}

#passwordMatchMessage-NO{
    color: red;
}

.check-duplicate-btn{
    position:absolute;
    top: 370px;
    left: calc(50% + 180px);
    transform: translateX(-50%);

    width: 90px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.336%; /* 22.934px */

    background: #4E6234;
}
  

@media screen and (max-width: 500px) {
    .input-box{
        width: 300px;
        height: 50px;
    }

    .id-input-box{
        width: 200px;
        height: 50px;
    }
    #ID{
        transform: translateX(-75%);
    }

    .check-duplicate-btn{
        left: calc(50% + 105px);
    }

    .id-validation-message {
        left: calc(50% - 80px);
    }
}
  
